<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>lifeplus</title>
  <link rel="shortcut icon" href="https://freepikpsd.com/media/2019/10/white-plus-sign-png-3-Transparent-Images.png" type="image/x-icon">
   <!-- just for the health of it. -->
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">

  <!-- Font Awesome -->
  <script class="press-logo" src="https://kit.fontawesome.com/3ea53c1d6b.js" crossorigin="anonymous"></script>
  <!-- Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <section id="title">
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <img src="../images/lifeplus.png">
      <a class="navbar-brand" href="home">lifeplus</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartoggler" aria-controls="#navbartoggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      <div class="collapse navbar-collapse" id="navbartoggler">
      <ui class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="favicons fas fa-shield-virus"></i>COVID Health</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Blogs</a>
            <a class="dropdown-item" href="#">Videos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#vaccineinfo">Vaccine info</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="transplant"><i class="favicons fas fa-people-arrows"></i>Transplant info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ventilator" ><i class="favicons fas fa-procedures"></i>ventilators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer" ><i class="favicons fas fa-phone-alt"></i>Contact</a>
        </li>
      </ui>
    </div>
    </nav>
    </div>
  </section>

  <!-- Testimonials -->

  <section id="testimonials">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="false">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="first-test carousel-item active">
          <h2 class="testimonial-text">Find your nearby Hospital</h2>
          <button type="button" class="test-button btn btn-primary" onclick="location.href='hospital'">Know More</button>
        </div>
        <div class="second-test carousel-item">
          <h2 class="testimonial-text">Get help from professionals</h2>
          <button type="button" class="test-button btn btn-secondary">Learn More</button>
        </div>
        <div class="third-test carousel-item">
          <h2 class="testimonial-text">Know About it</h2>
          <button type="button" class="test-button btn btn-info">Learn More</button>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>

  <!-- Features -->

  <section id="features">
    <div class="container-fluid">
      <div class="row">
        <div class="feature-box col-lg-3">
          <span class="fas fa-phone-alt fa-3x"></span>
          <h4 class="heading">Emergency Departments</h4>
          <p class="subheading">We have a comprehensive emergency centre equipped with the highest level of skill.</p>
        </div>

        <div class="feature-box col-lg-3">
          <span class="fas fa-calendar-alt fa-3x"></span>
          <h4 class="heading">24 hour service</h4>
          <p class="subheading">Our team of highly skilled doctors and support staff work round the clock to remain available for emergencies in case of eventualities</p>
        </div>

        <div class="feature-box col-lg-3">
          <span class="feature-icon fas fa-cloud fa-3x"></span>
          <h4 class="heading">Advanced Technology</h4>
          <p class="subheading">We have robust, modern technology to deliver the highest quality standards of medical treatment- be it medical or surgical.</p>
        </div>

        <div class="feature-box col-lg-3">
          <span class="feature-icon fas fa-ambulance fa-3x"></span>
          <h4 class="heading">Ambulance</h4>
          <p class="subheading">Our host of ambulances are well equipped and manned by highly skilled and well-trained personnel, geared to meet any emergency.</p>
        </div>

        <div class="feature-box col-lg-3">
          <span class="feature-icon fas fa-heartbeat fa-3x"></span>
          <h4 class="heading">Primary health care</h4>
          <p class="subheading">We offer comprehensive ambulatory personal health care services ranging from prevention, treatment and rehabilitation care to people of low-income groups, who do not have the means to visit the hospital.</p>
        </div>

        <div class="feature-box col-lg-3">
          <span class="feature-icon fas fa-capsules fa-3x"></span>
          <h4 class="heading">Pharmacy stores</h4>
          <p class="subheading">The pharmacy and drug store offers genuine medicines, round the clock, catering to the medication needs of various patients. The store is well stocked and manned by competent staff with a computerized system.</p>
        </div>

        <div class="feature-box col-lg-3">
          <span class="feature-icon fas fa-hospital fa-3x"></span>
          <h4 class="heading">Laboratory and research</h4>
          <p class="subheading">Pioneering cutting edge innovations in our laboratory and research centres, the doctors and support staff focus on clinical excellence at affordable costs, taking aid of modern technology.</p>
        </div>

        <div class="feature-box col-lg-3">
          <span class="feature-icon fas fa-user-md fa-3x"></span>
          <h4 class="heading">Medical nursing home</h4>
          <p class="subheading">In  our nursing home, we redefine the healthcare landscape in India, we offer top-notch quality care services at the doorstep for convenience,satisfaction and comfort of patients and their families.</p>
        </div>

      </div>
    </div>
  </section>

  <!-- Vaccine Information -->

  <section id="vaccineinfo">
    <div class="vaccine">
      <p class="vaccine-headings">Vaccine Info</p>
      <p class="vaccine-headings">Dos and Don'ts</p>
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col"><i class="favicons fas fa-check-circle"></i>Dos</th>
            <th scope="col"><i class="favicons fas fa-times-circle"></i>Don'ts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Register and schedule your vaccination in advance</td>
            <td>Walk-in without appointment</td>
          </tr>
          <tr>
            <td>Register online through Co-WIN OR Aarogya Setu OR UMANG platform</td>
            <td>One-person register in multiple platforms</td>
          </tr>
          <tr>
            <td>Register against only one phone number and one proof of ID</td>
            <td>One-person register using multiple phone number and multiple ID proof</td>
          </tr>
          <tr>
            <td>Carry as ID proof the same ID document used for registration</td>
            <td>Consume alcohol or other intoxicants on the day of vaccination</td>
          </tr>
          <tr>
            <td>Search for nearest vaccination centre online from Co-WIN OR Aarogya Setu or Umang and select centre convenient for vaccination</td>
            <td>Panic in case of side effects</td>
          </tr>
          <tr>
            <td>Inform vaccination centre if any side effect(s) is experienced within 30 minutes</td>
            <td>Register again for second dose</td>
          </tr>
          <tr>
            <td>Continue precautions of social distancing and wearing masks</td>
            <td>Misleading people about vaccine</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="usermanual" id="manual">
        <p class="vaccine-headings"><i class="fas fa-info-circle"></i> Registration and Appointment for vaccination</p>
        <p>Process Overview :</p>
        <ol style="list-style-type:disc">
          <li>Register <a href="www.cowin.gov.in">here</a></li>
          <li>Add More Individuals</li>
          <li>Book and Appointment</li>
          <li>Confirm the Appointment</li>
          <li>Print and save the confirmation once the appointment is booked successfully</li>
        </ol>
        To Know more about registration process<br>
        <a class="btn btn-info" href="https://static.mygov.in/rest/s3fs-public/mygov_162157154351307401.pdf" target="_blank">Know More</a>
      </div>
  </section>

  <!-- FAQS -->
  <section class="faqs">
   <p class="vaccine-headings"><i class="favicons fas fa-question-circle"></i>Frequently Asked Questions</p>
   <ol style="list-style-type:1">
    <li>Where can I register for COVID-19 vaccination?<br>
      You can log into the Co-WIN portal using the link www.cowin.gov.in and click on the
      “Register/Sign In yourself” tab to register for COVID-19 vaccination.<br><br>
    </li>
    <li>
      Is there a mobile app that needs to be installed to register for vaccination?<br>
      There is no authorised mobile app for registering for vaccination in India except Aarogya
      Setu. You need to log into the Co-WIN portal. Alternatively, you can also register for
      vaccination through the Aarogya Setu App and Umang app.<br><br>
    </li>
    <li>
      Which age groups can register for vaccination on the Co-WIN portal?<br>
      All beneficiaries aged 18 years and above can register for vaccination.<br><br>
    </li>
    <li>
      Can I register for vaccination without Aadhaar card?<br>
      Yes, you can register on Co-WIN portal using any of the following ID proofs:
      <ol style="list-style-type:disc">
        <li> Aadhaar card</li>
        <li>Driving License</li>
        <li>PAN card</li>
        <li>Passport</li>
        <li>Voter ID(EPIC)</li>
        <li>NPR smart card</li>
      </ol>
    </li><br>
    <li>
      Is there any registration charge to be paid?<br>
      No. There is no registration charge
    </li>
   </ol>
   <a href="https://static.mygov.in/rest/s3fs-public/mygov_162270285951307401.pdf">Know More</a><br>
   Source: <a href="https://www.mygov.in/covid-19">mygov.in</a>
  </section>

  <!-- Footer -->

  <footer class="footer-section" id="footer">
    <div class="container-fluid">
    <a href="https://github.com/vaishnavi990">
      <i class="social-icon fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/vaishnavi-bhallamudi-4309b0196/">
      <i class="social-icon fab fa-linkedin fa-2x"></i>
    </a>
    <a href="https://mail.google.com">
      <i class="social-icon fas fa-envelope fa-2x"></i>
    </a>
    <a href="https://www.facebook.com/">
      <i class="social-icon fab fa-facebook-f fa-2x"></i>
    </a>
    <a href="https://www.twitter.com/">
      <i class="social-icon fab fa-twitter fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/">
      <i class="social-icon fab fa-instagram fa-2x"></i>
    </a>
    <p class="footer-line">© Copyright 2021 lifeplus vaishnavi990</p>
  </div>
  </footer>

</body>
</html>
  


