<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>lifeplus</title>
  <link rel="shortcut icon" href="https://freepikpsd.com/media/2019/10/white-plus-sign-png-3-Transparent-Images.png" type="image/x-icon">
   <!-- just for the health of it. -->
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">

  <!-- Font Awesome -->
  <script class="press-logo" src="https://kit.fontawesome.com/3ea53c1d6b.js" crossorigin="anonymous"></script>
  <!-- Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <section id="title">
    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <img src="../images/lifeplus.png"><a class="navbar-brand" href="home">lifeplus</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartoggler" aria-controls="#navbartoggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      <div class="collapse navbar-collapse" id="navbartoggler">
      <ui class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="favicons fas fa-shield-virus"></i>COVID Health</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Blogs</a>
            <a class="dropdown-item" href="#">Videos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Vaccine info</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="transplant" ><i class="favicons fas fa-people-arrows"></i>Transplant info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ventilator" ><i class="favicons fas fa-procedures"></i>ventilators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer" ><i class="favicons fas fa-phone-alt"></i>Contact</a>
        </li>
      </ui>
    </div>
    </nav>
    </div>
  </section>

  <section id="information">
    <div class="transplant-cards row">
    <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Heart Transplant</h3>
          </div>
          <div class="card-body">
            A Heart transplant is an organ replacement surgery done to remove a
            diseased heart and replace it with healthy heart from a donor to improve 
            your quality of life and increase your lifespan.Heart transplant is usually
            performed in people whose heart pumping condition does not improve enough
            with medications or other procedures/surgeries.
            Some causes of heart failure include:
            <ul>
                <li>High blood pressure within the lung’ blood vessels</li>
                <li>Heart conditions present at birth</li>
                <li>Irregular heartbeats</li>
                <li>Alcoholism or drug abuse</li>
            </ul>
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Kidney Transplant</h3>
          </div>
          <div class="card-body">
            Most people are born with two kidneys. They are bean-shaped organs
            located in the middle of the back, on either side of the spine.
            Each kidney weighs about five ounces and is about the size of a 
            fist. One kidney, functioning at 20% capacity, can:
            <ul>
                <li> Balance fluids in the body by controlling water and salt concentrations</li>
                <li> Maintain the balance of the body’s chemicals (potassium, calcium, magnesium and phosphorus)</li>
                <li> Clean your blood and remove waste products through the formation of urine</li>
            </ul>
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Liver Transplant</h3>
          </div>
          <div class="card-body">
            A liver transplant is an operation that replaces a patient’s 
            diseased liver with a whole or partial healthy liver from another 
            person. This article explains the current indications for liver 
            transplantation, types of donor livers, the operation itself, and 
            the immunosuppression that is required after transplantation.<br>
            Causes of liver failure:
            <ul>
                <li>Acetaminophen overdose</li>
                <li>Herbal supplements</li>
                <li>Autoimmune disease</li>
                <li>Diseases of the veins in the liver</li>
                <li>Hepatitis and other viruses</li>
                <li>Metabolic disease</li>
            </ul>
          </div>
        </div>
    </div>
    </div>
    <div class="transplant-cards row">
    <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Lung Transplant</h3>
          </div>
          <div class="card-body">
            Lung transplant is a surgery performed to replace a diseased or 
            failing lung with a donor healthy lung. Depending on the medical 
            condition, the transplant may involve replacing a lobe of the lung, 
            one of the lungs or both of them.<br>
            Some of the most common causes include:
            <ul>
                <li>Chronic obstructive pulmonary disease (COPD), including emphysema</li>
                <li>Scarring of the lungs (pulmonary fibrosis)</li>
                <li>High blood pressure in the lungs (pulmonary hypertension)</li>
                <li>Cystic fibrosis</li>
            </ul>
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Pancreas Transplant</h3>
          </div>
          <div class="card-body">
            A pancreas transplant is a surgical procedure to place a healthy 
            pancreas from a deceased donor into a person whose pancreas no 
            longer functions properly. One of its main functions 
            is to make insulin, a hormone that regulates the absorption of 
            sugar (glucose) into your cells.
            If your pancreas doesn’t make enough insulin, blood sugar levels 
            can rise to unhealthy levels, resulting in type 1 diabetes.
            Causes of pancreas failure:
            <ul>
                <li>Alcoholism</li>
                <li>Gallstones</li>
                <li>High triglyceride levels in the blood</li>
            </ul>
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Womb Transplant</h3>
          </div>
          <div class="card-body">
            While womb transplants offer “great hope” for women, the practice 
            is still considered to be experimental because its protocols have 
            not been standardised, argue the team of doctors. They carried out 
            review in order to discuss emerging concerns that need to be addressed.
            Screening of donors and recipients depends on institutional protocol,
            such as good health and absence of infection and cancer, 
            but more detailed criteria is needed, they argue.
            Immediate risks of womb transplant include:
            <ul>
                <li>Organ rejection or infection</li>
                <li>Blood loss requiring transfusion</li>
            </ul>
          </div>
        </div>
    </div>
</div>
  </section>

  <!-- Footer -->

  <footer class="footer-section" id="footer">
    <div class="container-fluid">
    <a href="https://github.com/vaishnavi990">
      <i class="social-icon fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/vaishnavi-bhallamudi-4309b0196/">
      <i class="social-icon fab fa-linkedin fa-2x"></i>
    </a>
    <a href="https://mail.google.com">
      <i class="social-icon fas fa-envelope fa-2x"></i>
    </a>
    <a href="https://www.facebook.com/">
      <i class="social-icon fab fa-facebook-f fa-2x"></i>
    </a>
    <a href="https://www.twitter.com/">
      <i class="social-icon fab fa-twitter fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/">
      <i class="social-icon fab fa-instagram fa-2x"></i>
    </a>
    <p class="footer-line">© Copyright 2021 lifeplus vaishnavi990</p>
  </div>
  </footer>
  
</body>
</html>