body{
    background-color: #34656d;
    color: #fff;
}

/* Navigation bar */
.navbar-brand{
    font-size: 2rem;
}
.navbar{
    padding: 0 0 0 4.5rem;
    font-weight: bold;
}
.container-fluid{
    padding: 3% 2%;
}
img{
    filter: brightness(0) invert(1);
    height: 3%;
    width: 3%;
    margin: 0.5rem;
}
.favicons{
    padding-right: 5px;
    color: #fff;
}

/* Testimonials */
.carousel-item{
    padding: 12%;
    text-align: right;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.testimonial-text{
    font-size: 2.7rem;
    font-weight: 700;
}
.first-test{
    background-image: url('../images/hospital-image.jpg');
    color: #fff;
}
.second-test{
    background-image: url('../images/therapist-image.jpg');
    color: #194350;
}
.third-test{
    background-image: url('../images/covid-image.jpg');
    color: #194350;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators{
    filter: invert(1);
}

.test-button{
    padding: 5px 15px;
    font-size:large;
    margin: 3% 7%;
}

/* Features */
#features, #manual{
    background-color: #fff;
    color: #34656d;
}
.feature-box{
    padding: 10px;
    text-align: center;
}
.feature-icon:hover{
    color: #343433;
}

/* vaccine information */
.vaccine, .faqs{
    background-color:#34656d;
    color: #fff;
    padding: 5%;
    font-size: larger;
}
thead, .vaccine-headings{
    text-align: center;
    font-weight: bold;
}
.usermanual{
    padding: 5%;
    font-size: larger;
    font-weight: 600;
}

/* Hospitals */
.hospital-section{
    padding: 4% 2%;
}

/* Transplant */
.transplant-cards{
    padding: 2.5rem;
}
.card-header{
    background-color: #fff;
    color: #34656d;
    text-align: center;
}
.card .card-body{
    background-color: #34656d;
    color: #fff;
    font-weight: 450;
}


/* Footer */

.footer-section{
    text-align: center;
    padding: 8% 0 8% 0;
    background-color: #fff;
    color: #34656d;
}
.social-icon{
    margin:20px 10px;
    padding-bottom: 15px;
    color: #34656d;
}
.footer-line{
    font-size: 1.5rem;
}

